$bg-color: #F8F9FA;

$white-color: #fff;
$black-color: #000;

$dark-first-color: #30404D;
$dark-second-color: #708296;

$danger-color: #dc3c3c;
$primary-color: #197fbf;
$success-color: #25a26e;
$warning-color: #da8632;

$tag-color: #0d6efd;