html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: white;
}

.container {
    height: 100vh;
    display: grid;
    justify-content: center;
    grid-template-columns: 1200px;
    grid-template-rows: 50px 76px auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $dark-first-color;
    color: $white-color;
    font-size: 2rem;
    padding: 0 20px;

    &__logo {
        color: $white-color;
        text-decoration: none;
    }
    &__logo:hover {
        color: $warning-color;
    }
}

.nav {
    background-color: $bg-color;
    color: $dark-second-color;
    font-size: 28px;
}

.menu {
    display: flex;
    height: 100%;
    padding: 0;
    margin: 0;

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $dark-second-color;
        padding: 0 20px;
        list-style: none;
        text-decoration: none;
    }

    &__item:visited {
        color: $dark-second-color;
    }

    &__item:hover {
        background-color: $dark-first-color;
        color: $white-color;
    }
}